<h1>{{ isEditMode ? 'עריכת שיעור' : 'הוספת שיעור - למורים בלבד' }}</h1>

<form [formGroup]="postLessonForm" (ngSubmit)="onSubmit()">
    <div formGroupName="lesson">
        <mat-form-field appearance="fill">
            <mat-label>title </mat-label>
            <input matInput formControlName="title" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>content </mat-label>
            <input matInput formControlName="content" />
        </mat-form-field>
    </div>
    <button mat-raised-button class="bt" color="primary" type="submit" >
        {{ isEditMode ? 'עדכון שעור' : 'הוספת שעור' }}
    </button>
</form>
<!-- [disabled]="postLessonForm.invalid" -->